---
import Layout from '../../layouts/Layout.astro';

---
<Layout title="Cosmic Kittens Login / Registration">
    <div class="flex flex-col h-screen">
        <div class="fancy_pattern flex items-center justify-center h-full flex-grow">
            <div class="bg-white p-8 rounded-lg shadow-lg">
                <h1 class="text-2xl font-bold mb-4">Login / Register</h1>
                <div>
                    <div class="mb-4">
                        <label class="block text-sm font-medium text-gray-700">Hardware ID</label>
                        <input type="text" id="username_form" name="hardware_id" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>

                    </div>
                    <div class="mb-4">
                        <div class="flex justify-between">
                            <button id="register_button" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Adopt Cosmic Kitty</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
<script>

    document.getElementById('register_button').addEventListener('click', function(e) {
        const hardwareid = document.getElementById('username_form') as HTMLInputElement;
        fetch('/api/tamagotchis?hardware_id=' + hardwareid.value, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                hardware_id: hardwareid.value,
            })
        }).then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        }).then(data => {
            console.log(data);
            window.location.href = '/play';
        }).catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });
</script>


<style>
    .fancy_pattern {
        background-color: #fbfcef;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ededed' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    }
</style>

