---
interface Props {
	title: string;
}

const { title } = Astro.props;
import icon from '../assets/Vector.svg';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<header class="bg-gradient-to-r from-purple-400 to-fuchsia-500 py-4 px-6 shadow-md">
		<div class="container mx-auto flex items-center justify-between">
			<a class="flex items-center gap-2 text-white font-bold text-lg" href="#">
				<img src={icon.src} alt="Cosmic Kittens" class="w-16 h-16" />
				Cosmic Kittens
			</a>
			<nav class="flex items-center gap-4 text-white">
				<a class="hover:underline" href="/login">
					Create Account or Sign In
				</a>
				<a class="hover:underline" href="/play">
					Play
				</a>
			</nav>
		</div>
	</header>
	<slot />
	</body>
</html>
<style is:global>

</style>
